.rain {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;
}

/* Стиль капли */
.drop {
    position: absolute;
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    animation: fall linear infinite;
    transform: rotate(10deg);
}

.drop-long {
    height: 50px;
}

.drop-short {
    height: 20px;
}

.rain .drop:nth-child(1) { left: 2%; animation-duration: 0.9s; animation-delay: 0.15s; }
.rain .drop:nth-child(2) { left: 5%; animation-duration: 0.7s; animation-delay: 0.3s; }
.rain .drop:nth-child(3) { left: 9%; animation-duration: 1.1s; animation-delay: 0.05s; }
.rain .drop:nth-child(4) { left: 14%; animation-duration: 0.8s; animation-delay: 0.6s; }
.rain .drop:nth-child(5) { left: 18%; animation-duration: 0.95s; animation-delay: 0.25s; }
.rain .drop:nth-child(6) { left: 22%; animation-duration: 0.65s; animation-delay: 0.1s; }
.rain .drop:nth-child(7) { left: 27%; animation-duration: 0.75s; animation-delay: 0.45s; }
.rain .drop:nth-child(8) { left: 31%; animation-duration: 0.85s; animation-delay: 0.05s; }
.rain .drop:nth-child(9) { left: 36%; animation-duration: 0.7s; animation-delay: 0.2s; }
.rain .drop:nth-child(10) { left: 40%; animation-duration: 1s; animation-delay: 0.35s; }
.rain .drop:nth-child(11) { left: 44%; animation-duration: 0.8s; animation-delay: 0.15s; }
.rain .drop:nth-child(12) { left: 49%; animation-duration: 0.9s; animation-delay: 0.4s; }
.rain .drop:nth-child(13) { left: 54%; animation-duration: 0.65s; animation-delay: 0.25s; }
.rain .drop:nth-child(14) { left: 58%; animation-duration: 0.75s; animation-delay: 0.1s; }
.rain .drop:nth-child(15) { left: 63%; animation-duration: 0.95s; animation-delay: 0.3s; }
.rain .drop:nth-child(16) { left: 67%; animation-duration: 0.85s; animation-delay: 0.05s; }
.rain .drop:nth-child(17) { left: 72%; animation-duration: 0.7s; animation-delay: 0.4s; }
.rain .drop:nth-child(18) { left: 76%; animation-duration: 0.8s; animation-delay: 0.2s; }
.rain .drop:nth-child(19) { left: 80%; animation-duration: 0.9s; animation-delay: 0.1s; }
.rain .drop:nth-child(20) { left: 85%; animation-duration: 0.75s; animation-delay: 0.35s; }
.rain .drop:nth-child(21) { left: 88%; animation-duration: 0.65s; animation-delay: 0.05s; }
.rain .drop:nth-child(22) { left: 92%; animation-duration: 0.7s; animation-delay: 0.3s; }
.rain .drop:nth-child(23) { left: 96%; animation-duration: 0.8s; animation-delay: 0.15s; }
.rain .drop:nth-child(24) { left: 99%; animation-duration: 0.9s; animation-delay: 0.25s; }


@keyframes fall {
    0% {
        top: -40px;
    }
    100% {
        top: 100vh;
    }
}