@import "normalize.css";
@import "rain.css";

body {
    position: relative;
    background: url("images/background.jpg") center/cover no-repeat #18152f;
    overflow: hidden;
    color: #fff;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background: radial-gradient(circle at center,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.35) 80%,
    rgba(0, 0, 0, 0.5) 100%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Oxanium', sans-serif;
    min-height: 100dvh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 384px;
    height: 611px;
    padding: 40px;
    background-color: rgba(17, 8, 119, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    border: 1px solid #78a0ef;
    box-shadow: 0 0 90px -10px rgb(170 93 255);
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 304px;
    height: 289px;
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 3px #252852;
    width: 304px;
    height: 45px;
    border-radius: 8px;
    background-image: radial-gradient(circle,
    rgba(152, 166, 255, 0.25),
    rgba(208, 201, 255, 0.5),
    rgba(123, 126, 231, 0.75));
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.link-item:hover, .link-item:focus {
    border: 1px solid #d0c8ff;
    box-shadow: 0 0 40px -5px rgb(201, 199, 255);
    transition-duration: 0.2s;
    text-shadow: 0 0 3px #9387fa;
}

.link-item:focus {
    outline: none;
}

.link-item:active {
    background-image: radial-gradient(circle,
    rgba(123, 139, 238, 0.65),
    rgba(103, 91, 197, 0.8),
    rgba(76, 64, 157, 0.95));
    transition-duration: 0.2s;
}

.avatar {
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 50px 2px #ff2d9e;
}

.name {
    font-size: 26px;
    font-weight: 200;
    line-height: 150%;
    padding-top: 24px;
}

.location {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    color: #ff93bb;
    text-shadow: 0 0 8px #ff2488;
}

.position {
    font-size: 14px;
    font-weight: 200;
    line-height: 150%;
    text-shadow: 0 0 5px #0b1152;
    padding: 24px 0 24px;
}

.attribution {
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid #78a0ef;
    box-shadow: 0 0 70px -5px rgb(170 93 255);
    width: 384px;
    border-radius: 12px;
    font-size: 12px;
    padding: 8px;
}

.attribution a {
    color: #ffd7e9;
    text-shadow: 0 0 8px #ff0088;
}

.attribution a:hover {
    color: #ff6db1;
    transition-duration: 0.2s;
}

.attribution a:focus {
    outline: none;
}